<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Tasks</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

    <h1>All Tasks</h1>
    <form method="POST" action="{% url 'edit_task' %}" >
        {% csrf_token %}
        <table>
            <tr>
                <th>Task Name</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Action</th>
                
            </tr>
            {% for detail in details %}
            <tr>
                <td>{{ detail.task_name }}</td>
                <td>{{ detail.task_desc }}</td>
                <td>
                    {% if detail.task_status == "True" %}
                        Completed
                    {%else %}
                    Not Completed
                    {% endif %}
                </td>
                <td>
                    <input type="checkbox" name ='task_ids' value="{{detail.id}}">
                </td>
            {% empty %}
            <tr>
                <td colspan="2">No tasks found.</td>
            </tr>
            {% endfor %}
        </table>
    <br>
     <button type="submit" style="float: left;" name="action" value="delete">Delete</button>
     <button type="submit" style="float: right;" name="action" value="completed">Mark as Complete</button>


</body>
</html>
